*.seed
*.pid.lock
# Cache
.cache/
.tmp/
dist/
build/
coverage/
# Env files
.env
.env.local
.env.*.local
# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
# OS files
.DS_Store
Thumbs.db
noticias.db
deploy.log
.firebase/
*.~lock*
public/*viejo.geojson